<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_EmployeeService" />
                <binding name="BasicHttpBinding_FiscalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/EmployeeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_EmployeeService" contract="EmployeeService.EmployeeService"
                name="BasicHttpBinding_EmployeeService" />
            <endpoint address="http://localhost:8000/FiscalService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_FiscalService" contract="FiscalService.FiscalService"
                name="BasicHttpBinding_FiscalService" />
        </client>
    </system.serviceModel>
</configuration>