<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFiscalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/FiscalService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFiscalService" contract="FiscalService.IFiscalService"
                name="BasicHttpBinding_IFiscalService" />
        </client>
    </system.serviceModel>
</configuration>